@font-face {
    font-family: Minecraft;
    src:url('fonts/minecraft.woff2') format('woff2');
    src:url('fonts/minecraft.woff') format('woff');
    src:url('fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Minecraft;
    background-color: aquamarine;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  width: 300px; 
    height: 250px;

}